/* src/components/Home.css */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;  
    background-color: #f4f4f4;
    padding-bottom: 150px;
  }
  
  .intro {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
  }
  
  .photo {
    width: 25vw; 
    height: 25vw; 
    background-image: url('/public/images/img.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 40px;
    border: 1px solid black;
  }
  
  .intro-text {
    flex: 2;
  }
  
  .intro-text h1 {
    font-size: 72px;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  .intro-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .bold_text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .resume_btn {
    padding: 45px 20px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: orange;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-right: 20px;
    font-size: 20px;
  }

  .resume_btn:hover {
    background-color: transparent;
  }

  .projects_btn {
    padding: 45px 20px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: red;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-right: 20px;
    font-size: 20px;
  }

  .projects_btn:hover {
    background-color: transparent;
  }

  .contact_btn {
    padding: 45px 20px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: cyan;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 20px;
  }

  .contact_btn:hover {
    background-color: transparent;
  }

  
  @media (max-width: 768px) {
    .intro {
        flex-direction: column; /* Stack photo and text vertically */
        align-items: center; /* Center content */
    }

    .photo {
        width: 30vw; 
        height: 30vw;
        margin-right: 0; /* Remove margin when stacked */
        margin-bottom: 20px; /* Add space between photo and text */
    }

    .intro-text h1 {
        font-size: 36px; /* Smaller font size for headings */
    }

    .intro-text p {
        font-size: 14px; /* Smaller font size for paragraphs */
    }

    .resume_btn, .projects_btn, .contact_btn {
        padding: 30px 10px;
        font-size: 16px; 
    }
}