/* src/components/Home.css */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;  
    background-color: #f4f4f4;
    padding-bottom: 150px;
  }
  
  .intro {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
  }
  
  .photo {
    flex: 1;
    background-image: url('/public/images/img.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-right: 40px;
    border: 1px solid black;
  }
  
  .intro-text {
    flex: 2;
  }
  
  .intro-text h1 {
    font-size: 72px;
    margin-bottom: 10px;
    font-weight: bolder;
  }
  
  .intro-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 512px;
  }

  .bold_text {
    font-size: 24px;
    font-weight: bold;
  }
  
  .resume_btn {
    padding: 45px 20px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: orange;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-right: 20px;
    font-size: 20px;
  }

  .resume_btn:hover {
    background-color: transparent;
  }

  .projects_btn {
    padding: 45px 20px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: red;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-right: 20px;
    font-size: 20px;
  }

  .projects_btn:hover {
    background-color: transparent;
  }

  .contact_btn {
    padding: 45px 20px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: cyan;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 20px;
  }

  .contact_btn:hover {
    background-color: transparent;
  }

  
  